.main-box{
    background: #ffffff;
    box-shadow: 0 0 1.25rem rgba(31, 45, 61, 0.08);
    border-radius: 10px;
}
.container{
    font-size: 20px;
    font-weight: 280;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /*padding: 50px 100px;*/
    transition: 0.3s; 
}
h1{
    font-size: 35px;
    font-weight: 400;
    padding: 10px;
    text-align: center;
    color: #20247b;
}
.form-padding{
    padding: 0px 150px;
}