

/* Resume Box
---------------------*/
.resume-box {
  background: #ffffff;
  box-shadow: 0 0 1.25rem rgba(31, 45, 61, 0.08);
  border-radius: 10px;
}
.resume-box ul {
  margin: 0;
  padding: 30px 20px;
  list-style: none;
}
.resume-box li {
  position: relative;
  padding: 0 20px 0 60px;
  margin: 0 0 30px;
}
.resume-box li:last-child {
  margin-bottom: 0;
}
.resume-box li:after {
  content: "";
  position: absolute;
  top: 12px;
  left: 20px;
  border-left: 2px solid #fc5356;
  bottom: 0;
}
/*.resume-box .icon {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 2px;
  right: 0;
  color: #fc5356;
  line-height: 30px;
  background: #ffffff;
  text-align: center;
  z-index: 1;
}*/
.resume-box .time {
  background: #fc5356;
  color: #ffffff;
  font-size: 10px;
  padding: 2px 10px;
  display: inline-block;
  margin-bottom: 12px;
  border-radius: 20px;
  font-weight: 600;
}
.resume-box h5 {
  font-weight: 700;
  color: #20247b;
  font-size: 16px;
}
.resume-box p {
  margin: 0;
}

/*.resume-box li:after {
    content: "";
    position: absolute;
    left: 20px;
    border-left: 2px solid #fc5356;
    bottom: 0;
}*/

h1{
    font-size: 28px;
    font-weight: 300;
    padding: 10px;
    text-align: center;
}
.fas{
    --slds-c-icon-radius-border:20px;
    --slds-c-icon-color-background:  #fc5356;
}
.container{
    font-size: 20px;
    font-weight: 280;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /*padding: 50px 100px;*/
    transition: 0.3s; 
}