.hero-container {
    font-size: 50px;
    font-weight: 280;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: 0.3s;
    padding: 10rem;
    margin: 3rem;
    color: #5876a3;
}

img {
    height: 300px;
    max-width: none;
}

.about-me {
    font-size: 45px;
    font-style: italic;
    font-weight: 400;
    color: #5ab4d7;
}

.hero-text {
    text-align: center;
}

.main-box {
    background: #ffffff;
    box-shadow: 0 0 1.25rem rgba(31, 45, 61, 0.08);
    border-radius: 10px;
}

h1 {
    font-weight: 500;
}

@media screen and (max-width: 600px) {
    img {
        height: 250px;
        max-width: none;
    }
    .hero-container {
        font-size: 30px;
        font-weight: 100;
        padding: 0rem;
        margin: 0rem;
    }
    .about-me{
        font-size: 25px;
    }
}